<!doctype html>
<html lang="en-AU">
  <head>
    <link rel="preload" href="/fonts/inter-latin.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/fraunces-latin.woff2" as="font" type="font/woff2" crossorigin>
{{HEAD}}
  </head>
  <body{{BODY_ATTRIBUTES}}>
{{BODY_TOP}}
    <a class="skip-link" href="#main-content">Skip to content</a>
{{HEADER}}
{{CONTENT}}
{{FOOTER}}
    <div class="sticky-mobile-cta" id="sticky-cta">
      <div class="zq-mobile-action-bar">
        <a class="button zq-mobile-action-call" href="tel:+61433819989">Call Now</a>
        <a class="button zq-mobile-action-quote" href="/contact-us/#quote-form">Quick Quote</a>
      </div>
    </div>
    <script type="module" src="/site.js"></script>
  </body>
</html>
