<!doctype html>
<html lang="en-AU">
  <head>
{{HEAD}}
  </head>
  <body{{BODY_ATTRIBUTES}}>
{{BODY_TOP}}
    <a class="skip-link" href="#main-content">Skip to content</a>
{{HEADER}}
{{CONTENT}}
{{FOOTER}}
    <div class="sticky-mobile-cta" id="sticky-cta">
      <a class="button button-secondary" href="tel:+61433819989">Call Now</a>
      <a class="button button-primary" href="/contact-us/#quote-form">Get Price Now</a>
    </div>
    <script type="module" src="/site.js"></script>
  </body>
</html>
